*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body
{
color: #ededed;

}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight .5s ease forwards; 
}
.navbar a
{
    display: inline-block;
    font-siZE: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color: #0ef;
}
.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("images3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 500px
}
.home-content h4{
    font-size: 20px;
    font-weight: 500;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1, h3{
    font-size: 30px;
    font-weight: 600;
    margin: -3px 0;
}
.home-content p{
    font-size: 15px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 15px 30px 30px 0;
}
.home-sci a:hover{
    background:#0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem; 
}
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;

}
.about-text h2{
    font-size: 60px;
}
.about-text h4 span{
    color: #0ef;
}
.about-text h2 span{
    color: rgb(11, 11, 11);
}
.about-text p span{
    color: rgb(0, 38, 255);
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    line-height: 2;
    margin: 15px 0 30px;
}
.about-text p{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4ren;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4ren;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color:black;
}
.container{
    padding: 90px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transfor 0.5s;
    box-shadow: 1px 1px 2px #012290f7,
                1px 1px 40px #0053b8f7
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h3{
    font-size: 30px;
    font-weight: 200;
    color:rgb(11, 11, 11);
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div p{
    color: blue;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
}

.main-text{
    padding-top: 130px;
    margin-top: 200px;
    line-height: 1.7;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    
}
.main-text h2 span{
    color: #000000;
    
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
.portfolio-content h5 span{
    color:#000000;
}
.portfolio-content p span{
    color:blue;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width:70%;
    border-radius: 8px;
    display: block;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3ren;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #000000;
}
.contact-text h4 {
    margin: 15px 0;
    color:#000000;
    font-size: 20px;
    font-weight: 500;
}
.contact-text p {
    color: blue;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2ren;
}
.contact-list{
    margin-bottom: 3ren;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
    color: #000000;
}
.contact-list i{
    display: inline-block;
    color:#0ef;
    font-size: 20px;
    font-weight: 600;
}



@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

